.box2 {
  position: relative;
  display: block;
  justify-content: center;
  align-items: center;
}
.section-title {
  position: relative;
  display: block;
  justify-content: center;
  align-items: center;
  font-family: "PlayfairDisplay";
  font-style: italic;
  font-weight: bolder;
}
.gallery-contents {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.gallery-box {
  width: calc(50% - 10px);
}
.gallery-box img {
  width: 500px;
}g
