#greeting {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.greeting {
  position: relative;
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}
.welcome {
  position: relative;
  display: flex;
  height: 180px;
  justify-content: center;
  align-items: center;
}
.welcome span {
  display: flex;
  align-items: center;
  font-family: "PlayfairDisplay";
  font-weight: bolder;
  font-style: italic;
  font-size: 166px;
  color: #ff3d9a;
  text-align: center;
}
