.header {
  position: fixed;
  top: 40px;
  width: 1000px;
  height: 60px;
  margin: auto;
  padding: 0 0 0 20px;
  border: 1px solid #222222;
  border-radius: 16px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.logo {
  width: 100px;
  height: 55px;
}
.logo:hover img {
  scale: 2;
}
.logo img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
}
.navi {
  display: flex;
}

.navi li {
  width: 110px;
  text-align: center;
  justify-content: center;
}
.navi a {
  position: relative;
  font-family: "BigBlackBear";
  font-size: 16px;
  display: inline-block;
  top: 0px;
  left: 0px;
  -webkit-font-smoothing: antialiased;
}

.navi li:hover a {
  color: #ff3d9a;
  animation: bounce 0.5s ease infinite alternate;
}
@keyframes bounce {
  50% {
    top: 5px;
  }
  100% {
    top: -5px;
  }
}
.navi li:nth-child(-n + 3) {
  border-right: 1px solid #222222;
}
