:root {
  --step--2: clamp(3.13rem, 2.62rem + 2.51vw, 5.76rem);
  --step--1: clamp(3.75rem, 3.09rem + 3.29vw, 7.2rem);
  --step-0: clamp(4.5rem, 3.64rem + 4.29vw, 9rem);
}

@-webkit-keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@-webkit-keyframes rollBerry {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(5turn);
  }
}
@keyframes rollBerry {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(5turn);
  }
}
.marquee {
  font-size: 40px;
  height: 60px;
  overflow: hidden;
  position: relative;
  width: 100%;
  border-bottom: solid 1px #222222;
  border-top: solid 1px #222222;
}
.marquee img {
  -o-object-fit: contain;
  object-fit: contain;
  max-height: 90px;
}

.track {
  position: relative;
  display: flex;
  height: 60px;
  overflow: hidden;
  padding: 2rem 0;
  transition: background-color 300ms ease, color 300ms ease;
  white-space: nowrap;
}
.track .text {
  -webkit-animation: marquee 20000ms linear infinite;
  animation: marquee 20000ms linear infinite;
  align-items: center;
  text-align: center;
  display: inline-flex;
  will-change: transform;
  font-family: "HIRUKO";
  color: #222222;
}

.track .text.-twox {
  -webkit-animation-duration: 10000ms;
  animation-duration: 10000ms;
}
.track:hover img {
  -webkit-animation: rollBerry 10000ms linear infinite;
  animation: rollBerry 10000ms linear infinite;
}
